@model tcc_core.Models.Movimentacao

@{
    ViewData["Title"] = "Cadastrar Movimentação";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>
<hr />

<div class="container d-flex justify-content-center">
    <div class="w-75">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Responsavel" class="control-label">Responsável: (Quem solicita a movimentação)</label>
                        <input asp-for="Responsavel" class="form-control" />
                        <span asp-validation-for="Responsavel" class="text-danger"></span>
                    </div>
                    <div class="form-group  mb-3">
                        <label asp-for="TipoMovimentacao" class="control-label">Tipo de Movimentação</label>
                        <select asp-for="TipoMovimentacao" class="form-control">
                            <option value="">Selecione</option>
                            @foreach (var item in Enum.GetValues(typeof(tcc_core.Models.Enuns.TipoMovimentacao)))
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="TipoMovimentacao" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="DtMovimentacao" class="control-label">Data da movimentação: </label>
                        <input asp-for="DtMovimentacao" class="form-control" />
                        <span asp-validation-for="DtMovimentacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="UsuarioId" class="control-label">Usuário:</label>
                        <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId" disabled="disabled"></select>
                        <input type="hidden" asp-for="UsuarioId" value="@ViewBag.UsuarioIdDefault" />
                        <span asp-validation-for="UsuarioId" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="HasProjeto" class="control-label">Possui projeto?</label>
                        <input asp-for="HasProjeto" type="checkbox" class="form-control" id="hasProjetoCheckbox" />
                        <span asp-validation-for="HasProjeto" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2" id="projetoSelectDiv">
                        <label asp-for="ProjetoId" class="control-label">Projeto</label>
                        <select asp-for="ProjetoId" class="form-control" asp-items="ViewBag.ProjetoId">
                            <option value="">Selecione um Projeto</option>
                        </select>
                        <span asp-validation-for="ProjetoId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Materiais</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody id="materialTableBody">
                        <tr>
                            <td>
                                <select class="form-control" name="materiaisIds">
                                    @foreach (var material in ViewBag.Materiais)
                                    {
                                        <option value="@material.Value">@material.Text</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="quantidades" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" onclick="addMaterialRow()">Adicionar Material</button>
            </div>
            <div class="form-group mb-3 text-center">
                <input type="submit" value="Cadastrar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addMaterialRow() {
            var row = `<tr>
                        <td><select class="form-control" name="materiaisIds">
        @foreach (var material in ViewBag.Materiais)
        {
                                    <option value="@material.Value">@material.Text</option>
        }
                        </select></td>
                        <td><input type="number" class="form-control" name="quantidades" /></td>
                    </tr>`;
            document.getElementById('materialTableBody').insertAdjacentHTML('beforeend', row);
        }

        $(document).ready(function () {
            toggleProjetoSelect();

            $('#hasProjetoCheckbox').change(function () {
                toggleProjetoSelect();
            });

            function toggleProjetoSelect() {
                if ($('#hasProjetoCheckbox').is(':checked')) {
                    $('#projetoSelectDiv').show();
                } else {
                    $('#projetoSelectDiv').hide();
                    $('#projetoSelectDiv select').val('');
                }
            }
        });
    </script>
}











@*   <div class="form-group">
                <label asp-for="HasProjeto" class="control-label"></label>
                <input asp-for="HasProjeto" class="form-control" />
                <span asp-validation-for="HasProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <input asp-for="ProjetoId" class="form-control" />
                <span asp-validation-for="ProjetoId" class="text-danger"></span>
            </div> *@







                  