@model tcc_core.Models.Movimentacao

@{
    ViewData["Title"] = "Detalhes da Movimentação";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<div class="container d-flex justify-content-center">
    <div class="w-75 mx-auto">
        <hr />
        <dl class="row ">
            <dt class="col-sm-3 text-start">Responsável pela movimentação:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.Responsavel)</dd>

            <dt class="col-sm-3 text-start">Tipo da movimentação:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.TipoMovimentacao)</dd>

            <dt class="col-sm-3 text-start">Data da movimentação:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.DtMovimentacao)</dd>

            <dt class="col-sm-3 text-start">Usuário:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.Usuario.Id)</dd>

            <dt class="col-sm-3 text-start">Projeto:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.Projeto.Id)</dd>
        </dl>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

