@model IEnumerable<tcc_core.Models.UsuarioModel>

@{
    ViewData["Title"] = "Usuários";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr >
                <th>Nome Completo</th>
                <th>E-mail </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr >
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td >
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Ver detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
