@model tcc_core.Models.Projeto

@{
    ViewData["Title"] = "Excluir Projeto";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h4>Tem certeza que deseja excluir o projeto abaixo?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natureza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natureza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFinal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
    </form>
</div>
