@model tcc_core.Models.Projeto

@{
    ViewData["Title"] = "Detalhes do Projeto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natureza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natureza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
