@model IEnumerable<tcc_core.Models.Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="d-flex justify-content-between m-2 pt-2 pb-2">
    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar</a>
    </p>
    
    <form asp-action="Index" method="get">
        <p>
            <label>
                <input type="checkbox" name="showInativos" value="true"
                @(ViewData["ShowInativos"] != null
                    && (bool)ViewData["ShowInativos"] ? "checked" : "") />
                Mostrar inativos
            </label>
            <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]" placeholder="Pesquisar..." />
            <input type="submit" value="Pesquisar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Limpar</a>
        </p>
    </form>
</div>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">@ViewData["Message"]</div>
}
else
{
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Coordenador</th>
                    <th>Início</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coordenador)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.DtInicio) *@
                        @item.DtInicio.ToShortDateString()
                    </td>
                    <td>@(item.IsActive ? "Ativo" : "Inativo")</td>
                    <td>
                            @if (item.IsActive)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Ver detalhes</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                            }
                            else
                            {
                                <form asp-action="Ativar" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit">Ativar</button>
                                </form>
                            }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}