@model IEnumerable<tcc_core.Models.Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coordenador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Natureza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coordenador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Natureza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFinal)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Ver detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table>
