@model tcc_core.Models.Material

@{
    ViewData["Title"] = "Detalhes do Material";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeAtual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn bnt-success" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn bnt-secondary" >Voltar</a>

</div>
